body {
  margin: 0;
  padding: 0;
  font-family: "Palatino";
  font-size: 1.75vw;
}

header {
  background-color: #1f707a;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2.5vw;
  padding: 0.5vw;
}
.name {
  display: flex;
  justify-content: center;
}
.lappar {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: auto;
  background-color: #faeccc;
}

.lapp {
  display: flex;
  background-color: #8dbfb1;
  display: grid;
  grid-template-columns: 30vw;
  justify-content: center;
  margin: 2vw;
  padding: 10vw;
}

.textitem {
  background-color: #8dbfb1;
}

.delete {
  visibility: hidden;
}

footer {
  padding: 0.3vw;
  background-color: #1f707a;
  padding-bottom: 1vw;
}
.footergrid {
  display: grid;
  grid-template-columns: auto auto;
}
.footer1 {
  grid-column-start: 2;
}
